<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="wrap-content">
    <div class="u-max-full-width">
        <header class="row">
            <h1>Category Manager</h1>
        </header>
    </div>
    <div class="u-max-full-width padding10px">
        <div class="row" style="position: relative">
            <aside class="three columns">
                <ul style="list-style: none">
                    <li>
                        <a href="category"><i class="fa fa-tags" aria-hidden="true"></i>Category Manager</a></li>
                    <li>
                        <a class="active" href="article"><i class="fa fa-tags" aria-hidden="true"></i>Article Manager</a></li>
                    <li>
                        <a href="#"><i class="fa fa-tags" aria-hidden="true"></i>User Manager</a></li>
                </ul>
            </aside>
            <section class="nine columns main-content" style="position: relative">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Command</th>
                    </tr>
                    {{#each articleList}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{url}}</td>
                        <td style="margin-left: 10px;"><button class="EditCategory" idArticle={{id}} style="display: inline-block;float:left; margin-left:10px;">Edit</button>
                            <button class="deleteCategory" idArticle={{id}} style="display: inline-block ;float:right;margin-right:10px">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </table>


            </section>
            <div class="add-button">
                <button class="circle-button" id="add-button"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
    <div class="u-max-full-width">
        <footer class="row">
            <span>xcode.bk@gmail.com</span>
        </footer>
    </div>
</div>

<div class="add-article">
    <h2>Add Article</h2>
    <form method="POST" action="/article/add">
        <span>Title Article</span>
        <input type="text" name="title" value="">
        <br>
        <span>Url Article</span>
        <input type="text" name="url" value="">
        <br>
        <textarea name="content" id="editor" rows="5" cols="80">
            </textarea>
        <script>
            CKEDITOR.replace('editor');
        </script>
        <br>
        <button type="submit">Add</button>
        <button type="button" id="close-add-article">Close</button>
    </form>
</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script>
    $("#close-add-article").click(function () {
        $(".add-article").css("display", "none");
        $(".wrap-content").css("opacity", "1");
    });
    $("#add-button").click(function () {
        $(".add-article").css("display", "block");
        $(".wrap-content").css("opacity", "0.2");
    });
    $(".deleteCategory").click(function () {
        var cButton = $(this);
        var id = $(this).attr('idArticle');
        $.ajax({
            type: "POST",
            success: function (result) {
                if (result == 'success')
                    cButton.parent().parent().remove();
                else {
                    alert(result);
                }

            },
            url: "article/delete",
            data: { id: id },
        });
    });

</script>